#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.blog--wrap {
  display: flex;
  flex-direction: column;
  max-width: 480px;

}

.blog {
  background: white;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-left: 4px solid orangered;
  box-shadow: 2px 4px 6px #ddd;
}